*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    font-family:"Source Sans Pro" sans-serif ;
    background: #f3f3f3;
    height: 100vh;
    
}

h1 {
    color:black;
    
}

.fila{
    display: flex;
}
    
.col {
    color: white;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 50px;
    margin: 60px auto;
    
}


.marron {
    background:#7d4222;
}

.amarillo {
    background:#dab253;
    color: white;
}

#blanca {
    color: #fafafa;
}

#roja {
    color: #bc4237;
}